@import url("https://unicons.iconscout.com/release/v2.1.9/css/unicons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css");

.container {

    border-radius: 4%;
    display: grid;
    grid-template-columns: 1fr; /* Make the columns fill the entire width */
    grid-template-rows: 1fr 1fr; /* Divide into two rows of equal height */
   
}

.container .upper {
    background-color: yellow;
    width: 100%; /* Fill the entire width of the column */
    height: 100%; /* Fill the entire height of the row */
    border: 1px solid black; /* Just for visualization */
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.facebook.com%2FIAUKampus%2Fphotos%2Fa.450802783904%2F10158093061313905%2F%3Ftype%3D3&psig=AOvVaw3AoYmX9Gs6PTiufnJ4xjI8&ust=1715855582211000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJjip6e6j4YDFQAAAAAdAAAAABAE');
    background-size: cover; /* Cover the entire container */
    background-position:center; /* Center the background */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    border-radius: 20% 20% 0% 0%;


}

.uni-logo{
    width: 60px; /* Set the desired width */
    height: 60px; /* Set the desired height */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    background-color: rgba(184, 177, 177, 0.629);
    border-radius: 100%;
}

.container .lower {
    background-color: rgb(155, 171, 223);
    width: 100%; 
    height: 100%; 
    border: 1px solid black; 
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto 1fr; 
   
}

.uni-title{
    text-align: center;
    justify-content: center;
}

.checked {
    color: cyan;
}

.rate{
    text-align: right;
}




